[project]
	description = NFS-Ganesha is an NFSv3,v4,v4.1 fileserver that runs in user mode on most UNIX/Linux systems
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gsatyaprakash
[access "refs/for/refs/*"]
	read = group user/gsatyaprakash
	push = group user/gsatyaprakash
	label-Code-Review = -2..+2 group user/gsatyaprakash
	label-Verified = -1..+1 group user/gsatyaprakash
	rebase = group user/gsatyaprakash
	removeReviewer = group user/gsatyaprakash
	submit = group user/gsatyaprakash
[access "refs/heads/*"]
	read = group user/gsatyaprakash
	create = group user/gsatyaprakash
	push = +force group user/gsatyaprakash
	pushMerge = group user/gsatyaprakash
[access "refs/tags/*"]
	push = group user/gsatyaprakash
	push = +force group user/gsatyaprakash
